main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produtosPage{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;

    margin-top: 30px;
}

.sidebarCategorias{
    background-color: white;
    border-radius: 23px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

    padding: 20px 25px;
    min-width: 200px;
}

.sidebarCategorias h3{
    font-size: 26px;
    color: black;
    margin-top: 0;
}

.sidebarCategorias ul{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 13px;
}

.sidebarCategorias a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.sidebarCategorias .categoriaAtiva a{
    color: var(--cor-primaria);
}

.produtosCategoria{
    min-width: 60vw;
}

.tituloCategoria{
    font-size: 26px;
    color: black;
    margin-top: 5px;
}

.produtosGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 35px;
}

.imgProduto{
    width: 200px;
    height: 200px;
    border-radius: 23px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProduto img{
    width: 200px;
    height: 200px;
}

.nomeProduto{
    font-size: 20px;
    font-weight: 700;
    color: var(--cor-primaria);

    margin-top: 15px;
}

.descricaoProduto{
    margin-top: -30px;
    width: 200px;
    color: black;
}

.preco{
    color: black;
}

.infoProduto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    min-height: 40px;

    margin-top: -10px;
}

.infoProduto h4{
    font-size: 20px;
    font-weight: 700;
}

.cartDescricao{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.cartDescricao:hover{
    color: var(--cor-primaria);
}
